.about {
  background-color: black;
  padding: 2.5rem;
}

.aboutSection {
  width: 85%;
  margin: auto;
  background-image: url("https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGFib3V0JTIwdXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.aboutUs {
  backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}

.about h1 {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 4rem;
}

.about span {
  color: rgb(0, 242, 255);
}

.about p {
  text-align: justify;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

.checkoutBtn {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

#checkout {
  font-size: 2rem;
  text-decoration: none;
  background: linear-gradient(to right, rgb(119, 0, 119), rgb(214, 1, 214));
  padding: 0.5rem 3rem;
  border-radius: 50px;
}

.fa-arrow-right-long {
  padding-left: 1rem;
}

@media (max-width: 1000px) {
  .aboutSection {
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  .aboutUs {
    padding: 1.2rem;
  }
}

@media (max-width: 740px) {
  .aboutUs p {
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
  }
}

@media (max-width: 510px) {
  .aboutUs p {
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
  }
  #checkout {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.5s ease-in-out;
  }
  .about h1 {
    font-size: 3rem;
    transition: all 0.5s ease-in-out;
  }
}

@media (max-width: 420px) {
  #checkout {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    transition: all 0.5s ease-in-out;
  }
}
