@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.home {
  background-color: #0e1012;
  padding-bottom: 5rem;
}

.links {
  text-decoration: none;
}

.heroSection {
  padding: 5.6rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#heroImage {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  /* box-shadow: 0px 0px 39px -5px rgba(255, 251, 0, 1); */
  animation: heroImageAnimation 25s ease-in-out infinite;
}

.heroContainer {
  background-image: url("https://images.unsplash.com/photo-1580519542036-c47de6196ba5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW9uZXl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.heroDetails {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  border-radius: 12px;
  backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
}

.heroDetails span {
  color: tomato;
}

#tagline {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0rem;
}

.heroTags {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0rem;
  color: rgb(147, 147, 147);
}

.gifSection {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 5.6rem;
}

.gifSection .gifs {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  /* border: 1px solid rgb(116, 116, 116); */
  box-shadow: inset 0px 0px 0px 1px #566171;
  padding: 2rem;
  border-radius: 12px;
}

.gifSection img {
  width: 6rem;
  height: 6rem;
  border-radius: 12px;
}

.gifSection p {
  color: rgb(171, 171, 171);
}

.swiper {
  width: 320px;
  height: 460px;
  margin-bottom: 5.6rem;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide img {
  width: 100%;
}

.homeMarquee {
  background: linear-gradient(to right, rgb(83, 83, 255), rgb(255, 80, 255));
  font-size: 3.5rem;
  font-weight: 500;
}

.error {
  background-color: #566171;
  padding: 2rem;
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
}

.fa-circle-exclamation {
  font-size: 5rem;
  color: red;
}

.newsSection {
  width: 85%;
  margin: auto;
  background-color: #161a1d;
  border-radius: 10px;
  margin-top: 5.5rem;
}

.sectionTags {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 2rem;
}

.sectionTags .individualSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.sectionTags i {
  font-size: 2.5rem;
  color: #566171;
}

/* .sectionTags img {
  width: 3rem;
} */

.newsGrid {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.newsList {
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}

.newsDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.newsList img {
  width: 100%;
  height: 14rem;
  border-radius: 10px;
}

.newsList .title {
  font-weight: 700;
  font-size: 1.2rem;
}

.newsList .newsHeadline {
  font-size: 0.9rem;
  color: rgb(171, 171, 171);
}

@keyframes heroImageAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1250px) {
  .heroSection {
    flex-direction: column;
  }
  .gifSection {
    width: 90%;
  }
  .gifSection .gifs {
    padding: 1rem;
  }
  .newsSection {
    width: 90%;
  }
  .newsGrid {
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
    transition: all 0.5s ease-in-out;
  }
}

@media (max-width: 1150px) {
  .sectionTags {
    grid-template-columns: repeat(3, 1fr);
    transition: all 0.5s ease-in-out;
    row-gap: 2rem;
  }
}

@media (max-width: 945px) {
  .heroSection {
    padding: 2rem 2rem 5.6rem 2rem;
    gap: 2rem;
  }
  .error {
    text-align: justify;
  }
}

@media (max-width: 860px) {
  .heroContainer {
    width: 100%;
  }
  .heroDetails {
    text-align: center;
    font-size: 2.5rem;
    transition: all 0.5s ease-in-out;
  }
  .gifSection {
    grid-template-columns: 1fr;
  }
  .newsGrid {
    grid-template-columns: repeat(1, 1fr);
    transition: all 0.5s ease-in-out;
  }
  .newsList img {
    width: 350px;
  }
  .newsList {
    display: flex;
    grid-gap: 1rem;
  }
  .newsDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .heroTags {
    font-size: 1.2rem;
  }
  #tagline {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .newsList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  .newsList img {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .heroDetails {
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
  }
  .heroTags {
    font-size: 1rem;
  }
  #tagline {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .sectionTags {
    grid-template-columns: repeat(2, 1fr);
    transition: all 0.5s ease-in-out;
    row-gap: 2rem;
  }
  .swiper {
    width: 260px;
    height: 380px;
    transition: all 0.5s ease-in-out;
  }
}

@media (max-width: 625px) {
  #heroImage {
    width: 20rem;
    height: 20rem;
    transition: all 0.5s ease-in-out;
  }
  .error h1 {
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
  }
  .heroDetails {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .swiper {
    width: 220px;
    height: 340px;
    transition: all 0.5s ease-in-out;
  }
}
