.header {
  background-color: #0e1012;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem 0 3rem;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
}

#searchBar {
  width: 25%;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
  color: black;
  text-align: left;
}

.navLinks {
  display: flex;
  gap: 4rem;
}

.links {
  text-decoration: none;
}

.navLinks .links {
  box-shadow: inset 0px 0px 0px 1px #566171;
  padding: 8px 20px;
  border-radius: 50px;
  font-size: 14px;
}

.navLinks .links:hover {
  color: #2d8bef;
  box-shadow: inset 0px 0px 0px 1px #2d8bef;
  background: #001832;
  transition: all 0.2s ease-in-out;
}

.fa-bars {
  display: none;
  font-size: 1.5rem;
}

@media (max-width: 920px) {
  .navLinks {
    gap: 2rem;
    transition: all 0.5s ease-in-out;
  }
}

@media (max-width: 800px) {
  .navLinks {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  nav {
    padding: 1.5rem 2rem 0 2rem;
  }
}
