.business {
  background-color: #0e1012;
  box-sizing: border-box;
}

.businessHero {
  width: 90%;
  margin: auto;
  padding: 5.6rem 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.businessTags {
  /* background-image: url("https://media.istockphoto.com/photos/close-up-image-of-a-stock-market-graph-picture-id1213574690?k=20&m=1213574690&s=612x612&w=0&h=HqzZzJjeP8PFyy5496aayONbNAW9CpH9sBLJnaDIufs="); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.tickerInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#businessHeroTitle {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  padding: 1rem;
  /* backdrop-filter: blur(1px) saturate(180%); */
  background: linear-gradient(red, purple, blue);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  line-height: 7rem;
  border-radius: 12px;
}

/* .metricPoints {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 2rem;
} */

.metricPoints {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.metricPoints marquee p {
  display: inline-block;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  margin: 0.8rem;
}

.metricPoints p {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #3195ff;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
}

.dataForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 4rem;
}

.dataForm input {
  padding: 1rem;
  width: 50%;
  border-radius: 50px;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 1px solid rgb(116, 116, 116);
}

.dataForm input:focus {
  outline: none;
}

.dataForm input::placeholder {
  color: #a0aaba;
}

.dataForm button {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  background: linear-gradient(to right, blue, rgb(242, 0, 255));
}

.fa-arrow-down-long {
  color: rgb(255, 255, 255);
}

.apiData {
  width: 90%;
  margin: auto;
  background-color: #161a1d;
  border-radius: 12px;
}

.metrices {
  padding: 3rem;
  font-size: 1.2rem;
}

.metrices .companyName {
  display: inline-block;
  font-size: 4rem;
  font-weight: 500;
  padding-bottom: 1rem;
  background: linear-gradient(to right, rgb(255, 38, 0), rgb(252, 235, 0));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.metrices .overview {
  display: flex;
  gap: 3rem;
}

.metrices .overview div {
  display: flex;
  gap: 1rem;
}

.address {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
  line-height: 1.8rem;
  text-align: justify;
}

.keyData {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.keyData div {
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0px 0px 0px 1px #566171;
  padding: 1rem;
  border-radius: 5px;
}

.label {
  font-weight: 500;
  color: rgb(176, 176, 176);
}

.stick {
  color: rgb(255, 162, 0);
}

.charts {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}

.earningsChart {
  box-sizing: border-box;
  display: flex;
}

.earningsChart div {
  width: 100%;
  /* border: 1px solid rgb(79, 79, 79); */
}
