.crypto {
  background-color: #0e1012;
  padding: 4rem;
}

.cryptoHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 2.5rem;
}

.crypto h1 {
  font-size: 4rem;
}

.crypto span {
  color: yellow;
}

.crypto .imageOne {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: firstMorph 8s ease-in-out infinite;
  height: 25rem;
  transition: all 1s ease-in-out infinite;
  width: 400px;
  z-index: 5;
  border-radius: 50%;
}

.crypto .imageTwo {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: secondMorph 8s ease-in-out infinite;
  height: 25rem;
  transition: all 1s ease-in-out infinite;
  width: 400px;
  z-index: 10;
  border-radius: 50%;
}

.cryptoList {
  width: 90%;
  background-color: #161a1d;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inputSection label {
  font-size: 1.2rem;
}

.inputSection input {
  width: 150%;
  border-radius: 12px;
  padding: 1rem;
  color: black;
  font-size: 1rem;
}

.inputSection input:focus {
  outline: none;
}

.cryptoList .cryptoGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 5rem;
}

.cryptoGrid .cryptoDetails {
  position: relative;
  background-color: #26282a;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.cryptoDetails .cryptoHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cryptoGrid .cryptoDetails img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgb(34, 34, 34);
}

.cryptoName {
  font-size: 1.6rem;
  font-weight: 500;
}

.cryptoDetails .cryptoMetrics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cryptoDetails .cryptoMetrics div {
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0px 0px 0px 1px #566171;
  padding: 0.5rem;
  border-radius: 5px;
}

@keyframes firstMorph {
  0% {
    transform: rotate(0deg);
    transform: translateX(-150px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }

  50% {
    transform: rotate(360deg);
    transform: translateX(500px);
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
  }

  100% {
    transform: rotate(0deg);
    transform: translateX(-150px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%215;
  }
}

@keyframes secondMorph {
  0% {
    transform: rotate(0deg);
    transform: translateX(150px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }

  50% {
    transform: rotate(360deg);
    transform: translateX(-500px);
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
  }

  100% {
    transform: rotate(0deg);
    transform: translateX(150px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }
}

@keyframes arrowAnimation {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes firstResponsiveImageOne {
  0% {
    transform: rotate(0deg);
    transform: translateX(400px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }

  50% {
    transform: rotate(360deg);
    transform: translateX(-100px);
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
  }

  100% {
    transform: rotate(0deg);
    transform: translateX(400px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }
}

@keyframes firstResponsiveImageTwo {
  0% {
    transform: rotate(0deg);
    transform: translateX(-400px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }

  50% {
    transform: rotate(360deg);
    transform: translateX(100px);
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
  }

  100% {
    transform: rotate(0deg);
    transform: translateX(-400px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }
}

@keyframes secondResponsiveImageOne {
  0% {
    transform: rotate(0deg);
    transform: translateX(300px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }

  50% {
    transform: rotate(360deg);
    transform: translateX(-100px);
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
  }

  100% {
    transform: rotate(0deg);
    transform: translateX(300px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }
}

@keyframes secondResponsiveImageTwo {
  0% {
    transform: rotate(0deg);
    transform: translateX(-300px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }

  50% {
    transform: rotate(360deg);
    transform: translateX(100px);
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
  }

  100% {
    transform: rotate(0deg);
    transform: translateX(-300px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }
}

@keyframes thirdResponsiveImageOne {
  0% {
    transform: rotate(0deg);
    transform: translateX(200px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }

  50% {
    transform: rotate(360deg);
    transform: translateX(-50px);
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
  }

  100% {
    transform: rotate(0deg);
    transform: translateX(200px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }
}

@keyframes thirdResponsiveImageTwo {
  0% {
    transform: rotate(0deg);
    transform: translateX(-200px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }

  50% {
    transform: rotate(360deg);
    transform: translateX(50px);
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
  }

  100% {
    transform: rotate(0deg);
    transform: translateX(-200px);
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
  }
}

@media (max-width: 1250px) {
  .cryptoList .cryptoGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1200px) {
  .crypto .imageOne {
    height: 20rem;
    transition: all 1s ease-in-out infinite;
    width: 350px;
  }

  .crypto .imageTwo {
    height: 20rem;
    transition: all 1s ease-in-out infinite;
    width: 350px;
  }
}

@media (max-width: 1090px) {
  .cryptoHero span {
    display: block;
  }
}

@media (max-width: 950px) {
  .crypto .imageOne {
    height: 15rem;
    transition: all 1s ease-in-out infinite;
    width: 250px;
    animation: firstResponsiveImageOne 6s ease-in-out infinite;
  }

  .crypto .imageTwo {
    height: 15rem;
    transition: all 1s ease-in-out infinite;
    width: 250px;
    animation: firstResponsiveImageTwo 6s ease-in-out infinite;
  }

  .cryptoList .cryptoGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 740px) {
  .inputSection input {
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
}

@media (max-width: 670px) {
  .crypto .imageOne {
    height: 12rem;
    transition: all 1s ease-in-out infinite;
    width: 200px;
    animation: secondResponsiveImageOne 6s ease-in-out infinite;
  }

  .crypto .imageTwo {
    height: 12rem;
    transition: all 1s ease-in-out infinite;
    width: 200px;
    animation: secondResponsiveImageTwo 6s ease-in-out infinite;
  }

  .cryptoList .cryptoGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 620px) {
  .crypto h1 {
    font-size: 3rem;
    transition: all 0.5s ease-in-out;
  }
}

@media (max-width: 600px) {
  .crypto .imageOne {
    height: 9rem;
    transition: all 1s ease-in-out infinite;
    width: 150px;
    animation: thirdResponsiveImageOne 6s ease-in-out infinite;
  }

  .crypto .imageTwo {
    height: 9rem;
    transition: all 1s ease-in-out infinite;
    width: 150px;
    animation: thirdResponsiveImageTwo 6s ease-in-out infinite;
  }
}
